body {
  background: #fafafa;
  color: #333333;
  margin-top: 4em;
}

h1, h2, h3 {
  color: #444444;
}
h4, h5, h6 {
  color: #9fa0a4;
  font-weight: normal;
}

ul {
  margin: 0;
}
.content-container{
  background-color: white;
  padding-top: 20px;
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}
.bg-steel {
  background-color: #1e453e;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 0px 20px 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}
.media-heading
{
  text-shadow: black 0px 0px 0px;
  text-align: center;
}
.rescue{
  border: 0px solid #1e453e;
}
.general{
  border: 0px solid #deceb7;
}
.identify{
  border: 0px solid #82b9a6;
}
.uncategorized{
  background-color: #a6a6a6;
}
.article-title {
  color: #444444;
}
a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}
.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}
.user-thumbnail{
  height: 30px;
  width: 30px;
  margin-bottom: 5px;
}
.img-thumbnail{
  padding: 0;
  border: none;
}
.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}