{% extends "blog/base.html" %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
	      <div class="content-section">
	      		{% if user.is_authenticated %}
		        <h4>What would you like to do?</h4>
		        <hr />
		        	<div class="row">
		        		<img class="rounded-circle" style="margin-left:3%;" width="15%" src="/media/placeholder.jpg">
		        		<img class="rounded-circle" style="margin-left:3%;" width="15%" src="/media/placeholder.jpg">
		        		<img class="rounded-circle" style="margin-left:3%;" width="15%" src="/media/placeholder.jpg">
		        		<img class="rounded-circle" style="margin-left:3%;" width="15%" src="/media/placeholder.jpg">
		        		<img class="rounded-circle" style="margin-left:3%;" width="15%" src="/media/placeholder.jpg">
		        	</div>
	            {% else %}
	            <h4>Would you like to create an account?</h4>
					<a href="{% url 'register' %}">Register</a>
	            {% endif %}
	      </div>
	    </div>	
	</div>
	<div class="row">
		<div class="col-md-9">
		<h3>Recent Posts</h3>
		<hr />
			<div class="row">
			{% for post in posts %}
				<div class="col-md-3">
				{% if post.post_type == "Identify my plant" %}
				<article class="content-section identify">
					<div class="media-heading">
				{% elif post.post_type == "Rescue my plant" %}
				<article class="content-section rescue">
					<div class="media-heading">
				{% elif post.post_type == "General Question" %}
				<article class="content-section general">
					<div class="media-heading">
				{% endif %}
							<small class="font-weight-bold text-center">{{ post.post_type }}</small>
							<div class="article-metadata row ml-1 mr-1">
							</div>
					</div>
					<div class="row">	
						<p class="font-weight-normal">{{ post.title }}</p>
					</div>
					<div class="row">
						<a href="{% url 'post-detail' post.id %}">
							<img class="img-thumbnail" src="media/{{ post.get_first_image }}">
						</a>
					</div>
				</article>
				</div>
			{% endfor %}
			</div>
	</div>
	<div class="col-md-3">
		<h3>List of plants</h3>
		<hr />
		<article class="content-section">
			<ul>
		{% for plant in plants %}
			<li><a href="{% url 'plant-detail' plant.id %}">{{ plant.common_name }}</a></li>
		{% endfor %}
			</ul>
		</article>
	</div>
</div>
{% endblock content %}
